* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-text {
  display: grid;
  justify-items: center;
  align-self: flex-start;
}
.title {
  color: aliceblue;
  font-size: 2.5rem;
  text-transform: uppercase;
}

.conteiner {
  display: grid;
  grid-template-rows: 1fr 2fr 50px;
  grid-template-columns: minmax(200px,1200px);
  justify-content: center;
  height: 100vh;
}

.header {
  background-color: rgb(69, 161, 104);
  display: grid;
  grid-template-columns: minmax(100px,1200px);
  
}

.nav-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
  justify-items: center;
}

.btn {
  width: 100px;
  height: 40px;
  border-radius: 20px;
}

.btn:hover {
  background-color:  rgb(28, 91, 8);
}

.main {
  background-color:rgb(9, 170, 223);
  display: grid;
  grid-template-columns: minmax(200px,1200px);
}

.main>.title {
  justify-self: center;
  padding-top:50px;
  padding-bottom: 104px;
  
}

.main-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30px,1fr));
  grid-template-rows: repeat(6, minmax(50px,1fr));
  grid-template-areas: "item1 item2 item3 item3"
                       "item4 item5 item3 item3"
                       "item6 item6 item7 item8"
                       "item6 item6 item9 item9"
                       "item10 item11 item9 item9";
  column-gap: 10px;
  row-gap: 10px;

}

.item1 {
  grid-area: item1;
}

.item2 {
  grid-area: item2;
}

.item3 {
  grid-area: item3;
}

.item4 {
  grid-area: item4;
}

.item5 {
  grid-area: item5;
}

.item6 {
  grid-area: item6;
}

.item7 {
  grid-area: item7;
}

.item8 {
  grid-area: item8;
}

.item9 {
  grid-area: item9;
}

.item10 {
  grid-area: item10;
}

.item11 {
  grid-area: item11;
}
.footer {
  display: grid;
  grid-template-columns: minmax(200px,1200px);
  background-color:rgb(120, 228, 255);
  
}

.main-elem {
  background-color: rgb(0, 8, 255);
  display: grid;
  justify-items: center;
  align-items: center;
  
}